Proyectos/1º_LM/Proyecto_final/Validaciones/instrumentos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="tienda">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="origen">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="nombre" type="xs:string" />
                            <xs:element name="web">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value="https?://[a-zA-Z0-9.-]+.[a-zA-Z]{2,}(/[^\s]*)?" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="language" type="xs:language"/>
                            <xs:element name="nota_legal">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value="https?://[a-zA-Z0-9.-]+.[a-zA-Z]{2,}(/[^\s]*)?/legal" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>


                <xs:element name="elaborado">
                    <xs:simpleType>
                        <xs:restriction base="xs:dateTime"/>
                    </xs:simpleType>
                </xs:element>


                <xs:element name="catalogo">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="instrumento" minOccurs="1" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="nombre" type="xs:string" />
                                        <xs:element name="marca" type="xs:string" />
                                        <xs:element name="precio">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:decimal">
                                                    <xs:minInclusive value="0" />
                                                    <xs:maxInclusive value="50000" />
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="stock">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:integer">
                                                    <xs:minInclusive value="0"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>

                                    <xs:attribute name="id" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:pattern value="INS-\d{3}" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    
                                    <xs:attribute name="categoria" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="cuerda" />
                                                <xs:enumeration value="viento" />
                                                <xs:enumeration value="percusion" />
                                                <xs:enumeration value="teclado" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="proveedores">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="proveedor" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="nombre" type="xs:string"/>
                                        <xs:element name="pais">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="España"></xs:enumeration>
                                                    <xs:enumeration value="Italia"></xs:enumeration>
                                                    <xs:enumeration value="Alemania"></xs:enumeration>
                                                    <xs:enumeration value="China"></xs:enumeration>
                                                    <xs:enumeration value="Francia"></xs:enumeration>
                                                    <xs:enumeration value="Japón"></xs:enumeration>
                                                    <xs:enumeration value="Inglaterra"></xs:enumeration>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="contacto">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:pattern value="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>

                                    <xs:attribute name="id" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:pattern value="P-\d{3}"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>

    </xs:element>
</xs:schema>