1DAM-Lenguajes-de-Marcas/Pts/PT0/granada.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="temporada">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="partido" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="rival" type="xs:string"/>
                            <xs:element name="fecha" type="xs:date"/>
                            <xs:element name="resultado">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value="\d-\d"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="estadio" type="xs:string"/>
                            <xs:element name="asistencia">
                                <xs:simpleType>
                                    <xs:restriction base="xs:int">
                                        <xs:minInclusive value="0"/>
                                        <xs:maxInclusive value="50000"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="goles" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="gol" maxOccurs="unbounded"></xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="minuto">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:int">
                                                <xs:minInclusive value="1"/>
                                                <xs:maxInclusive value="120"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="id">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:pattern value="P\d{3}"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>   
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>