Proyectos/1º Trimestre/1º_LM/Proyecto_final/Validaciones/instrumentos.dtd

<!ELEMENT tienda (origen, elaborado, catalogo, proveedores)>

<!ELEMENT origen (nombre, web, language, nota_legal)>

<!ELEMENT nombre (#PCDATA)>
<!ELEMENT web (#PCDATA)>
<!ELEMENT language (#PCDATA)>
<!ELEMENT nota_legal (#PCDATA)>

<!ELEMENT elaborado (#PCDATA)>

<!ELEMENT catalogo (instrumento+)>

<!ELEMENT instrumento (nombre, marca, precio, stock)>
<!ATTLIST instrumento 
    id CDATA #REQUIRED
    categoria CDATA #REQUIRED
>
<!ELEMENT marca (#PCDATA)>
<!ELEMENT precio (#PCDATA)>
<!ELEMENT stock (#PCDATA)>

<!ELEMENT proveedores (proveedor+)>
<!ELEMENT proveedor (nombre, pais, contacto)>
<!ATTLIST proveedor 
    id CDATA #REQUIRED
>
<!ELEMENT pais (#PCDATA)>
<!ELEMENT contacto (#PCDATA)>
